<p style="color: green"><%= notice %></p>

<%= render @appointment %>

<div>
  <%= link_to "Edit this appointment", edit_admins_patients_appointment_path(@appointment) %> |
  <%= link_to "Back to appointments", admins_patients_appointments_path %>

  <%= button_to "Destroy this appointment", [:admins, :patients, @appointment], method: :delete %>
</div>
