<div class="flex flex-col py-4">
  <nav class="min-w-xs">
    <ul class="flex flex-col w-full ">
      <li>
        <%= link_to "Patient summary", summary_admins_patient_charts_path, class: "border-l-4 border-emerald-800 text-black font-medium px-3 py-1 block" %>
      </li>
      <li><%= link_to "Vitals & Biometric", vital_biometric_admins_patient_charts_path, class: "text-black font-medium px-3 py-1  block" %></li>
      <li><%= link_to "Medications", medications_admins_patient_charts_path, class: "text-black font-medium px-3 py-1  block" %></li>
      <li><%= link_to "Orders", orders_admins_patient_charts_path, class: "text-black font-medium px-3 py-1  block" %></li>
      <li><%= link_to "Results", results_admins_patient_charts_path, class: "text-black font-medium px-3 py-1  block" %></li>
      <li><%= link_to "Visits", visits_admins_patient_charts_path, class: "text-black font-medium px-3 py-1  block" %></li>
      <li><%= link_to "Allergies", allergies_admins_patient_charts_path, class: "text-black font-medium px-3 py-1  block" %></li>
      <li><%= link_to "Conditions", conditions_admins_patient_charts_path, class: "text-black font-medium px-3 py-1  block" %></li>
      <li><%= link_to "Immunizations", immunizations_admins_patient_charts_path, class: "text-black font-medium px-3 py-1  block" %></li>
      <li><%= link_to "Attachments", attachments_admins_patient_charts_path, class: "text-black font-medium px-3 py-1  block" %></li>
      <li><%= link_to "Programs", programs_admins_patient_charts_path, class: "text-black font-medium px-3 py-1  block" %></li>
      <li><%= link_to "Appointments", appointments_admins_patient_charts_path, class: "text-black font-medium px-3 py-1  block" %></li>
    </ul>
  </nav>
</div>